* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E7E7E7;
}

/* Gerais */
.container-fluid {
    padding: 0;
    margin: 0;
}

.container {
    padding: 0;
}

.row {
    margin: 0;
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.ul-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Cabecalho */
header {
    background-color: #FFF159;
}

header .nav-1 {
    display: flex;
    width: 100%;
    padding-top: 10px;
    justify-content: space-between;
}

header .input {
    display: flex;
    background-color: #FFFFFF;
    width: 490px;
    height: 40px;
}

header .input input{
    padding-left: 20px;
    border: none;
    width: 440px;
    height: 100%;
    color: #DDDDDD;
}

header .input input:focus {
    color: #303030;
}

header .input i {
    margin: 12px 0;
    padding: 0 15px;
    border-left: 1px solid #E6E6E6;
    color: #707070;
}

header .nav-1 a {
    margin-top: 5px;
    padding: 0;
    height: fit-content;
}

header .nav-1 p {
    margin-top: 8px;
    padding: 5px 3px;
    font-size: 11px;
    color: #FFFFFF;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #310059, #B415C7);
}

header .nav-2 {
    width: 100%;
}

.nav-2 .ul-flex {
    margin-bottom: 5px;
}

.nav-2 .ul-1 {
    display: flex;
    color: rgb(136, 136, 136);
}

.nav-2 .ul-1 i {
    margin-top: 5px;
    font-size: 20px;
}

.nav-2 .ul-1 li {
    font-size: 10px;
}

.nav-2 .ul-2 {
    display: flex;
    justify-content: space-between;
    margin-right: 54px;
}

.nav-2 .ul-2 li {
    font-size: 13px;
    padding-right: 10px;
}

.nav-2 .ul-2 .dropdown-menu {
    background-color: #303030;
}

.nav-2 .ul-2 .dropdown-item {
    color: #fff;
}

.nav-2 .ul-2 .dropdown-item:hover {
    background-color: #444;
}

.ul-2 #dropdownMenuButton {
    background-color: transparent;
    color: currentColor;
    font-size: 13px;
    padding: 0;
    border: none;
}

.ul-2 #dropdownMenuButton:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.nav-2 .ul-3 {
    display: flex;
    justify-content: space-between;
}

.nav-2 .ul-3 li {
    font-size: 13px;
    padding-right: 10px;
}

/* Slider */

#slider .centralizar {
    width: 100%;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

/* Sessao 1 */
#sessao-1 {
    margin-top: 25px;
}

#sessao-1 .row  div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

#sessao-1 .row  div img {
    width: 35rem;
}

/* Sessao 2 */
#sessao-2 {
    margin-top: 50px;
    text-transform: uppercase;
}

#sessao-2 .coluna {
    width: 8rem;
}

#sessao-2 .carousel-inner .row {
    justify-content: space-evenly;
    margin-bottom: 100px;
}

#sessao-2 .row h6 {
    margin-bottom: 20px;
}


#sessao-2 .carousel-control-prev, #sessao-2 .carousel-control-next {
    width: auto;
}

#sessao-2 .carousel-control-prev i, #sessao-2 .carousel-control-next i {
    font-size: 30px;
    color: #303030;
}

#myCarousel p, #myCarousel2 p {
    padding-top: 10px;
}

/* Sessao 3 */
#sessao-3 {
    margin-bottom: 50px;
}
#sessao-3 .row div{
    text-align: center;
}

#sessao-3 img {
    width: 100%;
}

#sessao-3 button {
    margin-top: 25px;
    width: 10rem;
    padding: 10px;
}

/* Sessao 4 */
#sessao-4 section {
    width: 100%;
}
#sessao-4 section .row {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

#sessao-4 section .row img {
    width: 35rem;
}

#sessao-4 section p {
    padding-top: 35px;
    font-size: 12px;
}

/* Sessao 5 */
#sessao-5 .container-fluid {
    background-color: #FFFFFF;
}
#sessao-5 section {
    text-align: center;
    width: 100%;
}

#sessao-5 button {
    background-color: #FFFFFF;
    border-radius: 0;
}

#sessao-5 .accordion {
    width: 100%;
}

#sessao-5 .ul-principal{
    display: flex;
    justify-content: space-evenly;
}

#sessao-5 .card {
    text-align: center;
    background-color: transparent;
    border: none;
}

#sessao-5 .card-header {
    padding: 0;
    width: fit-content;
    width: 100%;
    background-color: transparent;
    border: none;
}

#sessao-5 .card-header button {
    text-decoration: none;
    color: #444;
}

#sessao-5 .collapse{
    width: 100%;
}

/* Footer */
footer {
    padding-top: 10px;
    background-color: #FFFFFF;
}

footer ul {
    display: flex;
    margin: 0;
    margin-bottom: 0.5rem;
}

footer li {
    padding-right: 10px;
    font-size: 13px;
    color: black;
}

footer p {
    font-size: 11px;
    color: #999999;
}